*{
    margin:0;
    padding:0;
    font-family:helvetica;
}
@font-face {
    font-family: helvetica;
    src: url("./assets/Helvetica.otf");
}
.helvetica {
    font-family: helvetica;
}
@font-face {
    font-family:helvetica-black ;
    src: url("./assets/Helvetica-Black.otf");
}
.helveticaBlack{
    font-family:helvetica-black ;
}
@font-face {
    font-family: helvetica-bold;
    src: url("./assets/Helvetica-Bold.otf");
}

.helveticaBold{
    font-family: helvetica-bold;
}
@font-face {
    font-family: helvetica-medium;
    src: url("./assets/HelveticaBQ-Medium.otf");
}
.helveticaMedium{
    font-family: helvetica-medium;
}

@font-face {
    font-family: fab;
    src: url("./assets/font-awesome/fa-solid-900.ttf");
}
@font-face {
    font-family: fad;
    src: url("./assets/font-awesome/fa-duotone-900.ttf");
}
@font-face {
    font-family: fad;
    src: url("./assets/font-awesome/fa-duotone-900.ttf");
}
@font-face {
    font-family: fal;
    src: url("./assets/font-awesome/fa-light-300.ttf");
}
@font-face {
    font-family: far;
    src: url("./assets/font-awesome/fa-regular-400.ttf");
}
@font-face {
    font-family: fas;
    src: url("./assets/font-awesome/fa-solid-900.ttf");
}
@font-face {
    font-family: fat;
    src: url("./assets/font-awesome/fa-thin-100.ttf");
}
.fab {
    font-family: fab;
}
.fad {
    font-family: fad;
}
.fal {
    font-family: fal;
}
.far {
    font-family: far;
}
.fas {
    font-family: fas;
}
.fat {
    font-family: fat;
}